body {
  background-color: #374151;

  font-family: "Inter", sans-serif;
}

#root {
  position: relative;
  max-width: 317px;
  height: 816px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.card {
  position: absolute;


  margin: 20px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #1A1B21;
  text-align: center;
  color: #FFF;

}

.card h1 {
  font-weight: bold;
  font-size: 25px;
  margin: 21px 0 6px 0;

}

.card h2 {
  color: #F3BF99;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  margin-bottom: 8px;

}

.card p {

  font-weight: 300;
  font-size: 10px;
}

.content {
  text-align: left;
  padding: 24px 18px;
}

.content a {
  text-align: center;
  background-color: #FFF;
  color: #374151;
  text-decoration: none;
  padding: 9px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 14px;
  width: 115px;
  display: inline-block;
  left: 0;
}

.content a img {
  margin-right: 8px;
}

.content a:first-child {
  margin-right: 10px;
}

.content .big-btn {
  background-color: #FFF;
  color: #374151;
  width: calc(100% - 24px);
  ;
}

.content a:nth-child(2) {
  background-color: #5093E2;
  color: #FFF;
}

.content div h1 {
  font-size: 16px;
  color: #F5F5F5;
}

.content div p {
  font-size: 10px;
  color: #DCDCDC;
  line-height: 150%;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #161619;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}